# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [62]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [129]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|', index_col='user_id')
users.head(5)
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Step 4. Discover what is the mean age per occupation

In [15]:
users.groupby('occupation')['age'].mean()

occupation
student          22.081633
none             26.555556
entertainment    29.222222
artist           31.392857
homemaker        32.571429
programmer       33.121212
technician       33.148148
other            34.523810
scientist        35.548387
salesman         35.666667
writer           36.311111
engineer         36.388060
lawyer           36.750000
marketing        37.615385
executive        38.718750
administrator    38.746835
librarian        40.000000
healthcare       41.562500
educator         42.010526
doctor           43.571429
retired          63.071429
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [130]:
def numberise(x):
    if x=='M':
        return 1.0
    else:
        return 0.0
users['n_gender']= users['gender'].apply(numberise)

In [178]:

a = users.groupby('occupation').apply(lambda x: (x['n_gender'].sum()/x['gender'].count())*100)
a.sort_values(ascending = False)

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [90]:
users.groupby('occupation')['age'].agg([min,max])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [91]:
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  0.0       40.638889
               1.0       37.162791
artist         0.0       30.307692
               1.0       32.333333
doctor         1.0       43.571429
educator       0.0       39.115385
               1.0       43.101449
engineer       0.0       29.500000
               1.0       36.600000
entertainment  0.0       31.000000
               1.0       29.000000
executive      0.0       44.000000
               1.0       38.172414
healthcare     0.0       39.818182
               1.0       45.400000
homemaker      0.0       34.166667
               1.0       23.000000
lawyer         0.0       39.500000
               1.0       36.200000
librarian      0.0       40.000000
               1.0       40.000000
marketing      0.0       37.200000
               1.0       37.875000
none           0.0       36.500000
               1.0       18.600000
other          0.0       35.472222
               1.0       34.028986
programmer     0.0       32.166667
               1.0       33.216667
retired        0.0       70.000000
               1.0       62.538462
salesman       0.0       27.000000
               1.0       38.555556
scientist      0.0       28.333333
               1.0       36.321429
student        0.0       20.750000
               1.0       22.669118
technician     0.0       38.000000
               1.0       32.961538
writer         0.0       37.631579
               1.0       35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [162]:
gender_ocup = users.groupby(['occupation', 'gender'])['age'].count()
gender_ocup

occupation     gender
administrator  F          36
               M          43
artist         F          13
               M          15
doctor         M           7
educator       F          26
               M          69
engineer       F           2
               M          65
entertainment  F           2
               M          16
executive      F           3
               M          29
healthcare     F          11
               M           5
homemaker      F           6
               M           1
lawyer         F           2
               M          10
librarian      F          29
               M          22
marketing      F          10
               M          16
none           F           4
               M           5
other          F          36
               M          69
programmer     F           6
               M          60
retired        F           1
               M          13
salesman       F           3
               M           9
scientist      F           3
               M          28
student        F          60
               M         136
technician     F           1
               M          26
writer         F          19
               M          26
Name: age, dtype: int64

In [164]:
occup_count = users.groupby(['occupation'])['age'].agg('count')
occup_count

occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: age, dtype: int64

In [169]:
occup_gender =  gender_ocup.div(occup_count, level = 'occupation') *100

In [170]:
occup_gender

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: age, dtype: float64