# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [8]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [11]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 4. How many products cost more than $10.00?

In [30]:
change = lambda x: float(x[1:-1])
chipo['item_price']= chipo.item_price.apply(change)

TypeError: 'float' object is not subscriptable

In [59]:
filtered_chipo = chipo[(chipo.quantity == 1)].drop_duplicates(['item_name','choice_description']).sort_values('item_name')
expensive_chipo = filtered_chipo[filtered_chipo.item_price >10] 
(expensive_chipo['item_price']>10).count()

685

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [70]:
filtered_chipo = chipo[(chipo.quantity == 1)].drop_duplicates(['item_name','choice_description']).sort_values('item_name')
price_chipo = filtered_chipo[['item_name','choice_description','item_price']]
price_chipo

### Step 6. Sort by the name of the item

In [71]:
price_chipo.sort_values('item_name')

,item_name,choice_description,item_price
721,6 Pack Soft Drink,[Nestea],6.49
341,6 Pack Soft Drink,[Diet Coke],6.49
357,6 Pack Soft Drink,[Coke],6.49
298,6 Pack Soft Drink,[Sprite],6.49
3141,6 Pack Soft Drink,[Lemonade],6.49
...,...,...,...
2384,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
738,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2851,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1395,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
781,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75

### Step 7. What was the quantity of the most expensive item ordered?

In [82]:
chipo.sort_values('item_price', ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [85]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [94]:
len(chipo[(chipo.item_name == 'Canned Soda')&(chipo.quantity >1)])

20